.carusel {
    display: flex;
}

.image-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px red solid;

    /* transition: width 2s; */
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.image-container.after-next{
    width: 0;
    border-color: blue;
}