.girls{
    display: flex;
}

.girl{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

.girl .icon.remove{
    position: absolute;
}

.girl img {
    max-width: 100px;
    max-height: 100px;
}

.girl.red{
    border: 1px red solid;
}

.icon{
    border: 3px green dotted;
    border-radius: 100%;
    cursor: pointer;
}

.icon:hover{
    border-color: blue;
   
}
.boxes{
    margin: 10px;
}

.box{
    width: 100px;
    height: 100px;
}
.boxes .green{
    background-color: green;
}

.boxes .red{
    background-color: red;
}

.outdated{
    display: none;
}

.card{
    border: 1px red solid;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
}
.card img{
    max-width: 150px;
    max-height: 200px;
}

.card img{
    display: none;
}
.card img.active{
    display: block;
}
.card-rotate{
    display: flex;
    flex-wrap: wrap;
}

.template{
    display: none;
}